<!DOCTYPE html>
<html lang="ar">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>القافية - عن القافية</title>
    <meta name="description" content="القافية" />
    <meta name="keywords" content="شعر, القافية, اوزان">
    <meta name="theme-color" content="#3F444A">
    <link rel="shortcut icon" href="favicon.png">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../css/libs/solid.css">
    <link rel="stylesheet" href="../css/libs/brands.css">
    <link rel="stylesheet" href="../css/libs/regular.css">
    <link rel="stylesheet" href="../css/libs/fontawesome.css">
    <!-- Fontawsome links -->
    <link rel="stylesheet" href="../css/bootstrap.css">
    <link rel="stylesheet" href="../css/style.css">
</head>

<body>

    <!-- Content -->
    <div class="wrap-fullpage">

        <header>
            <nav class="navbar navbar-expand-md bg-primary navbar-dark py-0">
                <div class="container">
                    <a class="navbar-brand" href="index.html">القافية</a>
                    <button class="navbar-toggler py-3 px-4" type="button" data-bs-toggle="collapse"
                        data-bs-target="#mainNavbar">
                        <i class="fas fa-bars display-xomd"></i>
                    </button>
                    <div class="collapse navbar-collapse" id="mainNavbar">
                        <ul class="navbar-nav ms-auto my-2 my-md-0">

                            <li class="nav-item">
                                <a class="nav-link rounded-12px " href="articles.html">مقالات</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link rounded-12px active" href="about.html">عن الموقع</a>
                            </li>

                            <li class="nav-item">
                                <a class="nav-link rounded-12px" href="contactus.html">تواصل معنا</a>
                            </li>

                        </ul>
                    </div>
                </div>
            </nav>
        </header>




        <div class="container my-10">
            <section class="aboutus-section bg-light-gray rounded-12px p-5 article">
                <h2 class="ff-tharwat text-primary">
                    عن الموقع (<b>القافية</b>)
                </h2>

                <div class="article-img-cover overflow-hidden rounded-12px mt-10 mb-5 w3h">
                    <img src="../assets/img/articles/aboutus-cover.jpg" alt="about qafia قافيه"
                        class=" w-100 h-100  img-cover">
                </div>



                <article class="mt-5">
                    <h4 class="fw-bold">المحتويات :</h4>
                    <ul class="mb-0">
                        <li>
                            <a href="#القافيه-ضرورة-لا-اختيار" class="btn-link text-info fw-bold">القافية ضرورة لا
                                اختيار</a>
                        </li>
                        <li>
                            <a href="#من-نحن" class="btn-link text-info fw-bold">من نحن</a>
                        </li>
                        <li>
                            <a href="#عن-الموقع" class="btn-link text-info fw-bold">عن الموقع</a>
                        </li>
                        <li>
                            <a href="#رؤية-الموقع" class="btn-link text-info fw-bold">رؤية الموقع</a>
                        </li>
                    </ul>
                </article>

                <hr class="my-5">


                <article id="القافيه-ضرورة-لا-اختيار" class="mb-5">
                    <h4 class="fw-bold">القافية ضرورة لا اختيار.</h4>
                    <p class="lead fw-normal display-omd">
                        تعد اللغة العربية أثري لغات العالم من حيث عدد الكلمات والمرادفات حيث يتجاوز تعداد كلماتها 12
                        مليون كلمة تقريباً , وبالقياس إلى لغات أخرى مثل اللغة الإنجليزية الذي يحتوي قاموس مفرداتها 600
                        ألف كلمة تقريباً والتي تعد لغة متوسطة من حيث عدد المفردات ; فإن اللغة العربية تعد أكثر لغات
                        العالم تفصيلاً وقدرة على التعبير بين كافة اللغات , وبالرغم من هذه الميزة الكبيرة التي تتمتع بها
                        فقد اكتنف هذه الميزة عيب كبير لا يمكن التغاضي عنه, هذا العيب هو استحالة الإلمام بجميع مفردات
                        اللغة, كمثال على ذلك فالمواطن الإنجليزي يستطيع حفظ جميع كلمات لغته الأم خلال 20 عاماً تقريباً ,
                        على الجانب الآخر لا يستطيع المواطن العربي حفظ أكثر من 20% من إجمالي عدد كلمات اللغة العربية طوال
                        فترة حياته , هذا الكم الضخم من المرادفات أتاح لمختلف الشعراء العرب قدرة كبيرة على الوصف والتعبير
                        عز نظيرها بين سائر شعراء اللغات الأخرى , ولما استحال على الشاعر العربي (قديماً كان أم معاصراً)
                        الإلمام بكامل مرادفات اللغة العربية ; فقد رأينا ضرورة وجود قاموس يضم بين دفتيه مجموعة ضخمة من
                        القوافي والكلمات الأكثر أهمية من حيث المعنى والتداول والتي تم إستخدامها من قبل مختلف الشعراء عبر
                        العصور.
                    </p>
                </article>
                <article id="من-نحن" class="mb-5">
                    <h4 class="fw-bold">من نحن:</h4>
                    <p class="lead fw-normal display-omd">
                        مجموعة من الشباب المصري المهتم بنظم وكتابة الشعر العربي(وبالتحديد الشعر العمودي),قررنا إنشاء
                        موقع خاص بالقوافي لمساعدة الشعراء العرب على إثراء أشعارهم وتوفير فرصة جيدة لتحسين لغتهم العربية
                        , بناءً على هذا القرار فقد قمنا بجمع قاعدة بيانات كبيرة تضم بين دفتيها أفضل وأهم القوافي العربية
                        إستناداً إلى قيمتها اللغوية وشهرتها بين أوساط الشعراء العرب عبر العصور .
                    </p>
                </article>
                <article id="عن-الموقع" class="mb-5">
                    <h4 class="fw-bold">عن الموقع:</h4>
                    <p class="lead fw-normal display-omd">
                        يعد موقع القوافي واحد من أهم المواقع التي توفر قاعدة بيانات ضخمة تزيد عن ثلاثين ألف كلمة متنوعة
                        تم إختيارها بعناية من خلال متخصصين في اللغة العربية , كذلك فقد راعينا وجود قاعدة بيانات كبيرة
                        تضم معظم معاني تلك القوافي يمكن الإطلاع عليها من خلال تحديد القافية المراد معرفة معناها
                        والانتقال إلى صفحة "معنى الكلمة" , لقد أخذنا بعين الاعتبار ضرورة وجود لوحة تحكم سلسة يمكن من
                        خلالها عمل فلترة للقوافي المراد الحصول عليها عبر تحديد حرف الروي (الحرف الخير) من خلال خانة
                        البحث الأساسية , ليس هذا فحسب بل يمكن لأي مستخدم فلترة تلك النتائج بحيث يحصل على كلمات ذات حرف
                        وصل (الحرف قبل الأخير) محدد مما يعطي أفضل نتائج ممكنة للمستخدم .
                    </p>
                    <p class="lead fw-normal display-omd">
                        لقد راعينا الجانب المعرفي أثناء تصميم هذا الموقع بحيث حرصنا على توفير قسم خاص بالمقالات التي
                        تتكلم عن الشعر العربي بشكل عام والقافية العربية بشكل خاص .
                    </p>
                </article>
                <article id="رؤية-الموقع">
                    <h4 class="fw-bold">رؤية الموقع:</h4>
                    <p class="lead fw-normal display-omd">
                        يهدف الموقع لأن يكون أفضل أداة يمتلكها المهتمين بالشعر العربي , ويسعى لتحقيق ذلك عبر توفير
                        مجموعة من الأدوات التي تستند على قاعدة بيانات ضخمة تم إختيارها بعناية فائقة .
                    </p>
                </article>
            </section>
        </div>

    </div>


    <footer class="text-center bg-primary pb-2">
        <p class="text-white mb-0 logo-text">القافية</p>
        <p class="text-white text-opacity-75 display-xmd">
            &copy; يحتفظ موقع القافية بالحقوق الفكرية لطريقة التنظيم والعرض
        </p>
    </footer>


    <!-- Scripts -->
    <script src="../js/libs/jquery-3.5.1.min.js"></script>
    <script src="../js/libs/bootstrap.bundle.min.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>
