<!DOCTYPE html>
<html lang="ar">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>القافية</title>
  <meta name="description" content="القافية" />
  <meta name="keywords" content="شعر, القافية, اوزان">
  <meta name="theme-color" content="#3F444A">
  <link rel="shortcut icon" href="favicon.png">
  <!-- Fontawsome links -->
  <link rel="stylesheet" href="../css/libs/solid.css">
  <link rel="stylesheet" href="../css/libs/brands.css">
  <link rel="stylesheet" href="../css/libs/regular.css">
  <link rel="stylesheet" href="../css/libs/fontawesome.css">
  <!-- Plugins Links -->
  <link rel="stylesheet" href="../css/libs/toastr.min.css">
  <!-- Style links -->
  <link rel="stylesheet" href="../css/bootstrap.css">
  <link rel="stylesheet" href="../css/style.css">
</head>

<body>

  <!-- Content -->
  <div class="wrap-fullpage">

    <header>
      <nav class="navbar navbar-expand-md bg-primary navbar-dark py-0">
        <div class="container">
          <a class="navbar-brand" href="index.html">القافية</a>
          <button class="navbar-toggler py-3 px-4" type="button" data-bs-toggle="collapse" data-bs-target="#mainNavbar">
            <i class="fas fa-bars display-xomd"></i>
          </button>
          <div class="collapse navbar-collapse" id="mainNavbar">
            <ul class="navbar-nav ms-auto my-2 my-md-0">

              <li class="nav-item">
                <a class="nav-link rounded-12px " href="articles.html">مقالات</a>
              </li>

              <li class="nav-item">
                <a class="nav-link rounded-12px" href="about.html">عن الموقع</a>
              </li>

              <li class="nav-item">
                <a class="nav-link rounded-12px" href="contactus.html">تواصل معنا</a>
              </li>

            </ul>
          </div>
        </div>
      </nav>
    </header>




    <div class="container">

      <!-- Search -->
      <section class="search-box mt-5 bg-light-gray border p-5 rounded-12px">
        <!-- <h1 class="text-primary">أكبر قاموس للقوافي في العالم العربي</h1> -->

        <form class="form-wrap">
          <label class="form-label display-xomd mb-3 fw-bold">ضع مثال للقافية او حرف الروي</label>
          <div class="d-flex gap-3 flex-column flex-md-row">
            <input type="text" class="form-control  text-primary input-search" placeholder="قلم / علم / هرم... إلخ">

            <select name="searchType" id="searchTypeSelect" class="form-select text-primary">
              <option value="1" selected>بحث عادي</option>
              <option value="2">بحث متقدم</option>
            </select>

            <div>
              <button type="submit" class="btn btn-dark search-btn"><i
                  class="fas fa-search align-middle display-omd py-2"></i>
              </button>
            </div>
          </div>

          <hr class="my-6">


          <div class="d-flex gap-6 justify-content-between flex-wrap align-items-md-center flex-column flex-md-row">
            <div class="d-flex align-items-center gap-3 justify-content-between">
              <label class="form-label flex-shrink-0 display-omd">
                عدد حروف القافية
              </label>
              <div>
                <input type="number" class="form-control text-primary numInput px-1 wordCounter" min="2"
                  placeholder="2">
              </div>
            </div>
            <div class="d-flex gap-3 flex-column flex-md-row">
              <div class="d-flex align-items-center gap-3 justify-content-between">
                <label class="form-label flex-shrink-0 display-omd">
                  عدد حروف من
                </label>
                <div>
                  <input type="number" class="form-control text-primary numInput px-1 wordCounter-from" min="0"
                    placeholder="0">
                </div>
              </div>
              <div class="d-flex align-items-center gap-3 justify-content-between">
                <label class="form-label flex-shrink-0 display-omd">
                  إلي
                </label>
                <div>
                  <input type="number" class="form-control text-primary numInput px-1 wordCounter-to" min="1"
                    placeholder="1">
                </div>
              </div>
            </div>
          </div>

        </form>

      </section>




      <main class="body-content mt-5 ">
        <div class="row g-5">
          <!-- Best Words -->
          <div class="col-lg">
            <!-- h-100 -->
            <div class="bestwords bg-light-gray rounded-12px overflow-hidden ">
              <article class="bestwords-header text-center text-white p-5 bg-primary">
                <h3 class="mb-0 ff-tharwat"> الأ كثر تفضيلاً</h3>
              </article>
              <div class="bestword-content position-relative p-5">
                <div
                  class="preloader-filter position-absolute d-none top-0 start-0 w-100 bg-light-gray d-flex justify-content-center align-content-center">
                  <img src="../assets/img/global/filterLoader.svg" class="mt-2" width="100" draggable="false"
                    alt="loader">
                </div>

              </div>
              <div class="text-center otherwords-number pt-2">
                <!-- Comes From JS -->
              </div>
              <div class="text-center removeselected-wrap mt-2 mb-3">
                <button class="btn bg-primary text-white" disabled>مسح التحديد</button>
              </div>
            </div>

            <!-- Buttons -->
            <ul
              class="buttons-list d-flex gap-sm-5 gap-2 mt-5 list-unstyled mb-0 bg-light-gray p-5 border-gray border rounded-12px">
              <li class="flex-grow-1 text-center">
                <button class="btn btn-primary w-100 py-3 rounded-12px copywords-btn" disabled type="button"> <span>نسخ
                    المحدد</span> <small class="display-sm d-inline-block align-middle"></small></button>
              </li>
              <li class="flex-grow-1 text-center changewords-btn">
                <button class="btn btn-primary w-100 py-3 rounded-12px" type="button">تغيير
                  الكلمات</button>
              </li>
              <li class="flex-grow-1 text-center">
                <a href="word.html" target="_blank"
                  class="btn w-100 btn-primary py-3 rounded-12px disabled wordmean-link" type="button">معني
                  الكلمة</a>
              </li>
            </ul>

          </div>
          <!-- Letters -->
          <div class="col-lg-auto">
            <div class="beforelast-wrod w-400 bg-light-gray rounded-12px  overflow-hidden position-relative">
              <article class="beforelast-wrod-header text-center text-white p-5 bg-primary">
                <h3 class="mb-0 ff-tharwat">الحرف قبل الأخير (الوصل)</h3>
              </article>
              <div class="beforelast-wrod-content p-5 position-relative">
                <!-- Here Letters comes from js -->
                <!-- loader -->
                <div class="bg-light-gray position-absolute top-0 end-0 text-center w-100 h-100 bflastletter-loader">
                  <img src="../assets/img/global/filterLoader.svg" class="mt-5" alt="loader">
                </div>
              </div>
            </div>

            <!-- Wis -->
            <div class="today-wisedom bg-light-gray rounded-12px overflow-hidden w-400 mt-5">
              <article class="wisedeom-header text-center text-white p-5 bg-primary ">
                <h3 class="mb-0 ff-tharwat">حكمة اليوم</h3>
              </article>
              <div class="wisedom-content d-flex flex-column justify-content-center align-items-center p-5">
                <figure class="mb-0 w-100">
                  <blockquote class="bg-white px-5 py-4 rounded-12px mb-2">
                    <p class="display-omd fw-bold mb-0 text-center wise-body">...</p>
                  </blockquote>
                  <figcaption class="display-md text-end"><b class="wise-name"></b></figcaption>
                </figure>
              </div>
            </div>
          </div>

        </div>

        <div class="row g-5">
          <div class="col-lg mt-lg-n8 negative-margin">

            <!-- Send Comment -->
            <div class="comment-wrap bg-light-gray rounded-12px  overflow-hidden">
              <article class="comment-header text-dark p-5  d-flex gap-3 align-items-center">
                <img src="../assets/img/icons/comment-outline.svg" width="35" alt="comment">
                <h4 class="mb-0 fw-bold">شاركنا بتعليقاتك ومقترحاتك</h4>
              </article>
              <form class="comment-content p-5">
                <textarea name="comment" class="form-control bg-white text-dark"
                  placeholder="اكتب تعليقك هنا..."></textarea>
                <button class="btn btn-primary mt-5 px-6 display-omd rounded-12px" type="submit">تعليق</button>
              </form>
            </div>
            <!-- Comments -->
            <div class="comment-wrap bg-light-gray mt-5 rounded-12px overflow-hidden">
              <article class="comment-header text-dark p-5 d-flex gap-3 align-items-center">
                <img src="../assets/img/icons/comment-solid.svg" width="35" alt="comment">
                <h4 class="mb-0 fw-bold"> تعليقات الزوار </h4>
              </article>
              <ul class="comment-content comments-list mb-0 list-unstyled p-5">
                <li class="comment-item d-flex gap-3 flex-xx-row flex-column">
                  <div class="flex-shrink-0">
                    <img src="../assets/img/icons/user.svg" width="75" alt="user">
                  </div>
                  <article class="flex-grow-1 bg-white p-3 rounded-12px">
                    <h5 class="text-primary fw-bold mb-0">اسم المستخدم</h5>
                    <p class="mb-0 display-omd mt-2">هذا نص تجريبي يمكنك استبداله بنص أخر هذا نص تجريبي يمكنك
                      استبداله
                      بنص أخر
                    </p>
                  </article>
                </li>
                <li class="comment-item d-flex gap-3 flex-xx-row flex-column">
                  <div class="flex-shrink-0">
                    <img src="../assets/img/icons/user.svg" width="75" alt="user">
                  </div>
                  <article class="flex-grow-1 bg-white p-3 rounded-12px">
                    <h5 class="text-primary fw-bold mb-0">اسم المستخدم</h5>
                    <p class="mb-0 display-omd mt-2">هذا نص تجريبي يمكنك استبداله بنص أخر هذا نص تجريبي يمكنك
                      استبداله
                      بنص أخر
                    </p>
                  </article>
                </li>
                <li class="comment-item d-flex gap-3 flex-xx-row flex-column">
                  <div class="flex-shrink-0">
                    <img src="../assets/img/icons/user.svg" width="75" alt="user">
                  </div>
                  <article class="flex-grow-1 bg-white p-3 rounded-12px">
                    <h5 class="text-primary fw-bold mb-0">اسم المستخدم</h5>
                    <p class="mb-0 display-omd mt-2">هذا نص تجريبي يمكنك استبداله بنص أخر هذا نص تجريبي يمكنك
                      استبداله
                      بنص أخر
                    </p>
                  </article>
                </li>
                <!-- See more -->
                <li class="text-center mt-5">
                  <button class="btn btn-link display-omd fw-bold" type="button">المزيد من التعليقات </button>
                </li>
              </ul>
            </div>
          </div>


          <div class="col-lg-auto m-0 d-lg-flex d-none">
            <!-- Adv -->
            <div class="w-400"></div>
          </div>
        </div>

      </main>
    </div>

  </div>


  <footer class="text-center bg-primary pb-2 mt-5">
    <p class="text-white mb-0 logo-text">القافية</p>
    <p class="text-white text-opacity-75 display-xmd">
      &copy; يحتفظ موقع القافية بالحقوق الفكرية لطريقة التنظيم والعرض
    </p>
  </footer>


  <!-- Scripts -->
  <script src="../js/libs/jquery-3.5.1.min.js"></script>
  <script src="../js/libs/bootstrap.bundle.min.js"></script>
  <script src="../js/libs/toastr.min.js"></script>
  <script src="../js/libs/axios.min.js"></script>
  <script src="../js/app.js"></script>
</body>

</html>
